<div class="tab-pane fade show active">
        &nbsp;&nbsp;&nbsp;
        <div class="card" *ngIf="table1">
            <div class="card-header">
                <div class="row-md-1">
                    <div class="col-md-4">
                      
                        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                            <li class="nav-item">
                              <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">บุคลากร</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" (click)="getsearch(Emp_ID.value)" role="tab" aria-controls="pills-profile" aria-selected="false">ค้นหา</a>
                            </li>
                          
                          </ul>
                         
                        <form class="form-inline">
                            <input type="text" class="form-control" #Emp_ID placeholder="ค้นหา" aria-label="ค้นหา" />
                        </form>
                    </div>
                </div>
            </div>
    
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <div class="card-body" *ngIf="table1">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr class="text-center">
                                    <th scope="col">รหัสบุคลากร</th>
                                    <th scope="col">ชื่อบุคลากร</th>
                                    <th scope="col">ตำแหน่ง/แผนก</th>
                                    <th scope="col">สถานะ</th>
                                    <th scope="col">ส่งการลางาน</th>
                                    <th scope="col">จัดการ</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let item of Employee; let i = index">
                                <tr>
                                    <td>{{item.Emp_ID}}</td>
                                    <td>{{item.EmpName}} {{item.EmpLastName}}
                                        <p class="card-text">เพศ : {{item.Sex}} </p>
                                        โทร : {{item.Tel}}
                                    </td>
                                    <td>
                                        <h6 class="card-title">ตำแหน่ง : {{item.PositionName}}</h6>
                                        <p class="card-title">แผนก : {{item.DeptName}}</p>
                                    </td>
                                    <td>{{item.EmpstatusName}}</td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="Leavelistadmin"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                ยื่นขอลา
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="Leavelistadmin" (click)="LeaveEmp(item.Emp_ID,item.EmpName,item.EmpLastName,item.Empstatus_ID
                                         ,item.PositionName,item.DeptName,item.Sector)">
                                                <a class="dropdown-item" data-toggle="modal" data-target="#exampleModal1"
                                                    *ngFor="let item of leavetype; let i = index">
                                                    {{item.LTypeName}}
            
                                                </a>
            
                                            </div>
                                        </div>
                                    </td>
            
                                    <td class="text-center">
                                        <button type="button" class="btn btn-outline-warning" data-toggle="modal"
                                            data-target="#exampleModal" (click)="updateEmp(item.Emp_ID,item.EmpName,item.EmpLastName,item.Sex,
                                            item.Birthday,item.Age,item.Tel,item.Address,item.Work_day,item.Duration_work
                                            ,item.Empstatus_ID,item.Position_ID,item.Dept_ID)">
                                            แก้ไข/ตรวจสอบ
                                        </button>
                                        &nbsp;
                                        <button type="button" class="btn btn-outline-danger"
                                            (click)="deleteEmp(item.Emp_ID,item.EmpName)">ลบ</button>
            
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <div class="card-body">
    
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr class="text-center">
                                    <th scope="col">รหัสบุคลากร</th>
                                    <th scope="col">ชื่อบุคลากร</th>
                                    <th scope="col">ตำแหน่ง/แผนก</th>
                                    <th scope="col">สถานะ</th>
                                    <th scope="col">ส่งการลางาน</th>
                                    <th scope="col">จัดการ</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let item of seach; let i = index">
                                <tr>
                                    <td>{{item.Emp_ID}}</td>
                                    <td>{{item.EmpName}} {{item.EmpLastName}}
                                        <p class="card-text">เพศ : {{item.Sex}} </p>
                                        
                                    </td>
                                    <td>
                                        <h6 class="card-title">ตำแหน่ง : {{item.PositionName}}</h6>
                                        <p class="card-title">แผนก : {{item.DeptName}}</p>
                                    </td>
                                    <td>{{item.EmpstatusName}}</td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="Leavelistadmin"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                                >
                                                ยื่นขอลา
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="Leavelistadmin" (click)="LeaveEmp(item.Emp_ID,item.EmpName,item.EmpLastName,item.Empstatus_ID
                                         ,item.PositionName,item.DeptName)">
                                                <a class="dropdown-item" data-toggle="modal" data-target="#exampleModal1"
                                                    *ngFor="let item of leavetype; let i = index">
                                                    {{item.LTypeName}}
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-outline-warning" data-toggle="modal"
                                            data-target="#exampleModal" (click)="updateEmp(item.Emp_ID,item.EmpName,item.EmpLastName,item.Sex,
                                            item.Birthday,item.Age,item.Tel,item.Address,item.Work_day,item.Duration_work
                                            ,item.Empstatus_ID,item.Position_ID,item.Dept_ID)">
                                            แก้ไข/ตรวจสอบ
                                        </button>
                                        &nbsp;
                                        <button type="button" class="btn btn-outline-danger"
                                            (click)="deleteEmp(item.Emp_ID,item.EmpName)">ลบ</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
              </div>
        </div>
        <div class="card" *ngIf="table4">
            <div class="card-header">
                <div class="row-md-1">
                    <div class="col-md-4">
                        บุคลากร
                        &nbsp;&nbsp;&nbsp;
    
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <tr class="text-center">
                            <th scope="col">รหัสบุคลากร</th>
                            <th scope="col">ชื่อบุคลากร</th>
    
                            <th scope="col">ตำแหน่ง/แผนก</th>
    
                            <th scope="col">สถานะ</th>
    
                            <th scope="col">จัดการ</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let item of Empployee1; let i = index">
                        <tr>
                            <td>{{item.Emp_ID}}</td>
                            <td>{{item.EmpName}} {{item.EmpLastName}}
                                <p class="card-text">เพศ : {{item.Sex}} </p>
                            </td>
                            <td>
                                <h6 class="card-title">ตำแหน่ง : {{item.PositionName}}</h6>
                                <p class="card-title">แผนก : {{item.DeptName}}</p>
                            </td>
                            <td>{{item.EmpstatusName}}</td>
    
                            <td class="text-center">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    
         <!-- Modal แก้ไข-->
         <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
         <div class="modal-dialog modal-lg" role="document">
             <div class="modal-content">
                 <div class="modal-header">
                     <h5 class="modal-title" id="exampleModalLabel">แก้ไข</h5>
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                         <span aria-hidden="true">&times;</span>
                     </button>
                 </div>
                 <div class="modal-body">
                     <form>
                         <div class="form-row">
                             <div class="col-md-4 mb-3">
                                 <label for="validationDefault01">รหัสบุคลากร</label>
                                 <input type="text" class="form-control" [formControl]="Emp_ID"
                                     id="validationDefault01" readonly>
                             </div>
                             <div class="col-md-4 mb-3">
                                 <label for="validationDefault02">ชื่อ(ภาษาไทย)</label>
                                 <input type="text" class="form-control" [formControl]="EmpName"
                                     id="validationDefault02">
                             </div>
                             <div class="col-md-4 mb-3">
                                 <label for="validationDefaultUsername">นามสกุล(ภาษาไทย)</label>
    
                                 <input type="text" class="form-control" [formControl]="EmpLastName"
                                     id="validationDefaultUsername">
                             </div>
                             <div class="col-md-3 mb-3">
                                 <label for="validationDefault04">เพศ</label>
                                 <select class="form-control" [formControl]="Sex" id="exampleFormControlSelect1">
                                     <option selected></option>
                                     <option value="ชาย">ชาย</option>
                                     <option value="หญิง">หญิง</option>
    
                                 </select>
                             </div>
                             <div class="col-md-3 mb-3">
                                 <label for="validationDefault05">วันเกิด(ปี/เดือน/วัน)</label>
                                 <input type="date" class="form-control" [formControl]="Birthday"
                                     id="validationDefault05">
                             </div>
                             <div class="col-md-3 mb-3">
                                 <label for="validationDefault06">อายุ</label>
                                 <input type="text" class="form-control" [formControl]="Age"
                                     id="validationDefault06">
                             </div>
                             <div class="col-md-3 mb-3">
                                 <label for="validationDefault07">เบอร์โทร</label>
                                 <input type="text" class="form-control" [formControl]="Tel"
                                     id="validationDefault07">
                             </div>
                             <div class="col-md-8 mb-3">
                                 <label for="exampleFormControlTextarea1">ที่อยู่</label>
                                 <textarea class="form-control" [formControl]="Address"
                                     id="exampleFormControlTextarea1" rows="3"></textarea>
                             </div>
                         </div>
                         <div class="form-row">
                             <div class="col-md-3 mb-3">
                                 <label for="validationDefault08">วันเริ่มทำงาน</label>
                                 <input type="date" class="form-control" [formControl]="Work_day"
                                     id="validationDefault08">
                             </div>
                             <div class="col-md-3 mb-3">
                                 <label for="validationDefault09">อายุงาน</label>
                                 <input type="text" class="form-control" [formControl]="Duration_work"
                                     id="validationDefault09">
                             </div>
                             <div class="col-md-3 mb-3">
                                 <label for="validationDefault12">สถานะบุคลากร</label>
                                 <select class="form-control" [formControl]="Empstatus_ID"
                                     id="exampleFormControlSelect4">
                                     <option selected></option>
                                     <option value="104">ลูกจ้างเงินรายได้</option>
                                     <option value="105">พนักงานมหาวิทยาลัย</option>
                                     <option value="106">ราชการ</option>
                                 </select>
                             </div>
                             <div class="col-md-7 mb-3">
                                 <label for="validationDefault10">ตำแหน่ง</label>
                                 <select class="form-control" [formControl]="Position_ID"
                                     id="exampleFormControlSelect2">
                                     <option selected></option>
                                     <option value="2001">ผู้อำนวยการสำนักวิทยบริการและเทคโนโลยีสารสนเทศ</option>
                                     <option value="2002">รองผู้อำนวยการฝ่ายบริหารงานทั่วไป</option>
                                     <option value="2003">รองผู้อำนวยการฝ่ายวิทยบริการ</option>
                                     <option value="2004">หัวหน้าสำนักงานผู้อำนวยการ</option>
                                     <option value="2005">หัวหน้างานบริหารงานทั่วไป</option>
                                     <option value="2006">หัวหน้าแผนกงานธุรการสำนัก</option>
                                     <option value="2007">เจ้าหน้าที่บริหารงานทั่วไป</option>
                                     <option value="2008">หัวหน้างานวิทยบริการ</option>
                                     <option value="2009">หัวห้าแผนกงานห้องสมุด</option>
                                     <option value="2010">นักวิชาการศึกษา</option>
                                     <option value="2011">นักเอกสารสารสนเทศ</option>
                                     <option value="2012">พนักงานธุรการ</option>
                                     <option value="2013">บรรณารักษ์</option>
                                     <option value="2014">นักวิชาการคอมพิวเตอร์</option>
                                     <option value="2015">หัวหน้าแผนกงานศูนย์การเรียนรู้ด้วยตนเอง</option>
                                     <option value="2016">นักวิชาการคอมพิวเตอร์</option>
                                     <option value="2017">ผู้ปฏิบัติงานบริหาร</option>
                                     <option value="2018">หัวหน้าสำนักงานเทคโนโลยีสารสนเทศ</option>
                                     <option value="2019">หัวหน้าแผนกงานเทคโนโลยีคอมพิวเตอร์</option>
                                 </select>
                             </div>
                             <div class="col-md-7 mb-3">
                                 <label for="validationDefault1">แผนก</label>
                                 <select class="form-control" [formControl]="Dept_ID"
                                     id="exampleFormControlSelect3">
                                     <option selected></option>
                                     <option value="1001">แผนกงานธุรการสำนัก</option>
                                     <option value="1002">แผนกงานห้องสมุด</option>
                                     <option value="1003">แผนกงานศุนย์การเรียนรู้ด้วยตนเอง</option>
                                     <option value="1004">แผนกงานวิศวกรรมเครือข่าย</option>
                                     <option value="1005">แผนกงานอีเลิร์นนิ่งและเทคโนโลยีการศึกษา</option>
                                     <option value="1006">ระบบสารสนเทศเพื่อการบริหาร</option>
                                 </select>
                             </div>
                         </div>
    
                         <div class="form-group">
                             <div class="form-check">
                                 <input class="form-check-input" type="checkbox" value="" id="invalidCheck2">
                                 <label class="form-check-label" for="invalidCheck2">
                                     Agree to terms and conditions
                                 </label>
                             </div>
                         </div>
                     </form>
                 </div>
                 <div class="modal-footer">
                     <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
                     <button type="button" class="btn btn-primary" data-dismiss="modal"
                         (click)="updateEmployee()">บันทึก</button>
                 </div>
             </div>
         </div>
     </div>
    
    
    <!-- การลางาน -->
    <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ลาป่วย</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="tab-pane fade show active">
    
                        <div class="card">
                            <div class="card-header">
                                <div class="row-md-1">
    
                                    <div class="col-md-4">
                                        ยื่นการลางาน
    
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <form>
                                    <div class="container">
                                        <div class="form-row">
                                            <div class="col-lg-960px">
                                                <h6>เรื่อง : </h6>
                                                &nbsp;
                                                <h6>เรียน : </h6>
                                            </div>
                                            <div class="col-lg-960px">
                                                <input type="text" class="form-control">
                                                &nbsp;
                                                <input type="text" class="form-control" 
                                                value="ผู้อำนวยการสำนักวิทยบริการและเทคโนโลยีสารสนเทศ" readonly>
                                            </div>
                                        </div>
                                    </div>
                                    &nbsp;&nbsp;
                                    <div class="card-header text-left">
                                        ข้อมุลบุคลากร
                                    </div>
                                    &nbsp;&nbsp;
                                    <div class="form-row">
                                        <div class="container">
                                            <div class="form-row">
                                                <div class="col-lg-960px">
                                                    <h6> ชื่อ : </h6>
                                                    &nbsp;
                                                    <h6>แผนก : </h6>
                                                </div>
                                                &nbsp;
                                                <div class="col-lg-960px">
                                                    <input type="text" class="form-control" id="validationDefault01"
                                                        [formControl]="EmpName" readonly>
                                                    &nbsp;
                                                    <input type="text" class="form-control" id="validationDefault01"
                                                        [formControl]="DeptName" readonly>
                                                </div>
                                                &nbsp;&nbsp;
                                                <div class="col-lg-960px">
                                                    <h6> นามสกุล : </h6>
                                                    &nbsp;
                                                    <h6> ฝ่าย : </h6>
                                                </div>
                                                &nbsp;
                                                <div class="col-lg-960px">
                                                    <input type="text" class="form-control" id="validationDefault02"
                                                        [formControl]="EmpLastName" readonly>
                                                    &nbsp;
                                                    <input type="text" class="form-control" id="validationDefault02"
                                                    [formControl]="Sector"  readonly>
                                                </div>
                                                &nbsp;
                                                <div class="col-lg-960px">ตำแหน่ง : </div>
                                                &nbsp;
                                                <div class="col-lg-960px">
                                                    <input type="text" class="form-control" id="validationDefault02"
                                                        [formControl]="PositionName" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        &nbsp;
                                    </div>
                                    <div class="card-header text-left">
                                        ข้อมูลการลา
                                    </div>
                                    &nbsp;&nbsp;
                                    <div class="form-group">
                                        <label for="exampleFormControlTextarea1">ขอลาเนื่องจาก</label>
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                    </div>
                                    <div class="form-row">
    
                                        <div class="col-md-2 mb-2">
                                            <label for="validationDefault04">วันที่ลา</label>
                                            <input type="date" class="form-control" id="" required>
                                        </div>
                                        <div class="col-md-2 mb-2">
                                            <label for="validationDefault05">ถึงวันที่</label>
                                            <input type="date" class="form-control" id="validationDefault05" required>
                                        </div>
                                        <div class="col-md-2 mb-3">
                                            <label for="validationDefault03">ครั้งที่</label>
                                            <input type="text" class="form-control" id="validationDefault03" required>
                                        </div>
                                        <div class="row">
    
                                        </div>
                                        <div class="form-row">
                                        </div>
    
                                    </div>
                                    <div class="col-mb-3">
                                        <label for="validationDefault05"></label>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio1" name="customRadio"
                                                class="custom-control-input">
                                            <label class="custom-control-label" for="customRadio1">ลาเต็มวัน</label>
                                        </div>
                                    </div>
                                    <div class="col-mb-3">
                                        <label for="validationDefault05"></label>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="customRadio2" name="customRadio"
                                                class="custom-control-input">
                                            <label class="custom-control-label" for="customRadio2">ลาครึ่งวัน</label>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="AddLeave()">OK</button>
                </div>
            </div>
        </div>
    </div>