<!-- ผู้ดูแลระบบ -->
<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="show">
        <a class="navbar-brand" href="home">ระบบจัดการบริหารบุคลากร สวส</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                จัดการบุคลากร
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                <a class="dropdown-item" href="#" [routerLink]="['/employeeshow']">บุคลากร</a>
                <a class="dropdown-item" href="#" [routerLink]="['/department']">แผนก</a>
                <a class="dropdown-item" href="#" [routerLink]="['/position']">ตำแหน่ง</a>
                <a class="dropdown-item" href="#" [routerLink]="['/employeestatus']">สถานะบุคลากร</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link toggle" [routerLink]="['/leavetype']">
                ประเภทการลา
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link toggle"  [routerLink]="['/leavelist']">
                รายการลา
              </a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link toggle">
                สรุปการลา
              </a>
      
            </li>
          </ul>
        </div>
        <li class="list-group-item"> <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <!-- <img src="../assets/imags/man-user.png" > -->
          <!-- <img src="img_girl.jpg" alt="Girl in a jacket" width="500" height="600"> -->
          ผู้ใช้งาน: {{test}} {{test1}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" (click)="clearUser()">ออกจากระบบ</a>
        </div>
      </li>
      </nav>
      
      
      
      <!-- บุคลากร -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="emp5">
        <a class="navbar-brand" href="#">ระบบจัดการบริหารบุคลากร สวส</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
      
            <li class="nav-item dropdown">
              <a class="nav-link toggle" [routerLink]="['/leavelist']">
                รายการลา
              </a>
            </li>
      
            <li class="nav-item dropdown">
                <a class="nav-link toggle" [routerLink]="['/checkleave']">
                 ตรวจสอบจำนวนวันลา
                </a>
              </li>
      
          </ul>
        </div>
        <li class="list-group-item"> <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            ผู้ใช้งาน: {{test}} {{test1}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" (click)="clearUser()">ออกจากระบบ</a>
          </div>
        </li>
      </nav>
      
      
      
      <!-- หัวหน้าแผนก -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="emp4">
        <a class="navbar-brand" href="#">ระบบจัดการบริหารบุคลากร สวส</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
      
            <li class="nav-item dropdown">
              <a class="nav-link toggle" [routerLink]="['/leavelist']">
                รายการลา
              </a>
      
            </li>
      
            <li class="nav-item dropdown">
              <a class="nav-link toggle" [routerLink]="['/employeeshow']">
                บุลคากร
              </a>
      
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link toggle">
                การลาที่รอรับรอง
              </a>
      
            </li>
          </ul>
        </div>
        <li class="list-group-item"> <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          ผู้ใช้งาน: {{test}} {{test1}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" (click)="clearUser()">ออกจากระบบ</a>
        </div>
      </li>
      
      </nav>
      
      <!-- หัวหน้างาน -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="emp3">
        <a class="navbar-brand" href="/home">ระบบจัดการบริหารบุคลากร สวส</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
      
            <li class="nav-item dropdown">
              <a class="nav-link toggle" [routerLink]="['/leavelist']">
                รายการลา
              </a>
      
            </li>
      
      
            <li class="nav-item dropdown">
              <a class="nav-link toggle">
                บุลคากร
              </a>
      
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link toggle">
                การลาที่รอรับรอง
              </a>
      
            </li>
          </ul>
        </div>
        <li class="list-group-item"> <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          ผู้ใช้งาน: {{test}} {{test1}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" (click)="clearUser()">ออกจากระบบ</a>
        </div>
      </li>
      
      </nav>
      
      <!-- รองหัวหน้าหน่วยงาน -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="emp2">
        <a class="navbar-brand" href="/home">ระบบจัดการบริหารบุคลากร สวส</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
      
            <li class="nav-item dropdown">
              <a class="nav-link toggle" [routerLink]="['/leavelist']">
                รายการลา
              </a>
      
            </li>
      
            <li class="nav-item dropdown">
              <a class="nav-link toggle">
                บุลคากร
              </a>
      
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link toggle">
                การลาที่รอรับรอง
              </a>
      
            </li>
          </ul>
        </div>
        <li class="list-group-item"> <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          ผู้ใช้งาน: {{test}} {{test1}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" (click)="clearUser()">ออกจากระบบ</a>
        </div>
      </li>
      
      </nav>
      
      <!-- หัวหน้าหน่วยงาน -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="emp1">
        <a class="navbar-brand" href="/home">ระบบจัดการบริหารบุคลากร สวส</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
      
            <li class="nav-item dropdown">
              <a class="nav-link toggle" [routerLink]="['/leavelist']">
                รายการลาที่รออนุญาต
              </a>
      
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link toggle" [routerLink]="['/employeeshow']">
                บุลคากร
              </a>
      
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link toggle">
                สรุปการลา
              </a>
            </li>
          </ul>
        </div>
        <li class="list-group-item"> <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          ผู้ใช้งาน: {{test}} {{test1}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" (click)="clearUser()">ออกจากระบบ</a>
        </div>
      </li>
      
      </nav>