<div class="tab-pane fade show active">
        &nbsp;&nbsp;&nbsp;
        <div class="card">
          <div class="card-header">
            <div class="row-md-1">
              <div class="col-md-4">
                ประเภทการลา
                &nbsp;&nbsp;&nbsp;
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" onclick="document.getElementById('LType_ID').value = ''
                ,document.getElementById('LTypeName').value = '',document.getElementById('Number').value = ''
                ,document.getElementById('Remain').value = '',document.getElementById('AdvanceNotice').value = ''
                ,document.getElementById('LOrdinal').value = '',document.getElementById('QuotaStatus').value = ''
                ,document.getElementById('Empstatus_ID').value = ''">
                  เพิ่มประเภทการลา
                </button>
      
              </div>
            </div>
          </div>
          <div class="card-body">
            <table class="table table-bordered">
              <thead class="thead-dark">
                <tr class="text-center">
                  <th scope="col">รหัสประเภทการลา</th>
                  <th scope="col">ชื่อประเภทการลา</th>
                  <th scope="col">จำนวนวันลา/วัน</th>
                  <th scope="col">คงเหลือ/วัน</th>
                  <th scope="col">แจ้งล่วงหน้า/วัน</th>
                  <th scope="col">จำนวนครั้งที่ลา/วัน</th>
                  <th scope="col">สถานะสิทธิการลา</th>
                  <th scope="col">สถานะบุคลากร</th>
                  <th scope="col">จัดการ</th>
                </tr>
              </thead>
              <tbody *ngFor="let item of leavetype; let i = index">
                <tr>
                  <td>{{item.LType_ID}}</td>
                  <td>{{item.LTypeName}}</td>
                  <td>{{item.Number}}</td>
                  <td>{{item.Remain}}</td>
                  <td>{{item.AdvanceNotice}}</td>
                  <td>{{item.LOrdinal}}</td>
                  <td>{{item.QuotaStatus}}</td>
                  <td>{{item.EmpstatusName}}</td>
                  <td>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-warning" data-toggle="modal" 
                    data-target="#exampleModal2" (click)="updateLeavetype(item.LType_ID,item.LTypeName
                    ,item.Number,item.Remain,item.AdvanceNotice,item.LOrdinal,item.QuotaStatus,item.Empstatus_ID)">
                      แก้ไข
                    </button>
      
                    &nbsp;
                    <button type="button" class="btn btn-outline-danger"
                      (click)="deleteLeavetype(item.LType_ID,item.LTypeName)">ลบ</button>
      
      
                  </td>
      
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      
      
      
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-row">
                  <div class="col-md-4 mb-3">
                    <label for="validationDefault01">รหัสประเภทการลา</label>
                    <input type="text" class="form-control" id="LType_ID" placeholder="รหัสประเภทการลา"
                      [formControl]="LType_ID" required>
                  </div>
                  <div class="col-md-4 mb-3">
                    <label for="validationDefault02">ชื่อประเภทการลา</label>
                    <input type="text" class="form-control" id="LTypeName" placeholder="ชื่อประเภทการลา"
                      [formControl]="LTypeName" required>
                  </div>
                  <div class="col-md-4 mb-3">
                    <label>จำนวนวันลา</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                      </div>
                      <input type="text" class="form-control" id="Number" placeholder="จำนวนวันลา" [formControl]="Number"
                        required>
                    </div>
                  </div>
                  <div class="col-md-4 mb-3">
                    <label>คงเหลือ</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                      </div>
                      <input type="text" class="form-control" id="Remain" placeholder="จำนวนวันลา" [formControl]="Remain"
                        required>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-md-3 mb-3">
                    <label>แจ้งล่วงหน้า</label>
                    <input type="text" class="form-control" id="AdvanceNotice" placeholder="แจ้งล่วงหน้า"
                      [formControl]="AdvanceNotice" required>
                  </div>
                  <div class="col-md-3 mb-3">
                    <label for="validationDefault04">จำนวนครั้งที่ลา</label>
                    <input type="text" class="form-control" id="LOrdinal" placeholder="จำนวนครั้งที่ลา"
                      [formControl]="LOrdinal" required>
                  </div>
                  <div class="col-md-3 mb-3">
                    <label for="validationDefault05">สถานะสิทธิการลา</label>
                    <select id="QuotaStatus" class="form-control" [formControl]="QuotaStatus">
                      <option selected>สถานะสิทธิการลา</option>
                      <option value="1">ลาได้</option>
                      <option value="0">ลาไม่ได้</option>
                    </select>
                  </div>
                  <div class="col-md-3 mb-3">
                    <label for="validationDefault05">สถานะบุคลากร</label>
                    <select id="Empstatus_ID" class="form-control" [formControl]="Empstatus_ID">
                      <option selected>เลือกสถานะบุคลากร</option>
                      <option value="106">ราชการ</option>
                      <option value="105">พนักงานมหาวิทยาลัย</option>
                      <option value="104">ลูกจ้างเงินรายได้</option>
                    </select>
                  </div>
                </div>
      
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="AddLeavetype()">Save </button>
            </div>
          </div>
        </div>
      </div>
      
      
      
      
      <!-- Modal แก้ไขประเภทการลา -->
      <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-row">
                  <div class="col-md-4 mb-3">
                    <label for="validationDefault01">รหัสประเภทการลา</label>
                    <input type="text" class="form-control" id="LType_ID" placeholder="รหัสประเภทการลา"
                      [formControl]="LType_ID" required>
                  </div>
                  <div class="col-md-4 mb-3">
                    <label for="validationDefault02">ชื่อประเภทการลา</label>
                    <input type="text" class="form-control" id="LTypeName" placeholder="ชื่อประเภทการลา"
                      [formControl]="LTypeName" required>
                  </div>
                  <div class="col-md-4 mb-3">
                    <label>จำนวนวันลา</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                      </div>
                      <input type="text" class="form-control" id="Number" placeholder="จำนวนวันลา" [formControl]="Number"
                        required>
                    </div>
                  </div>
                  <div class="col-md-4 mb-3">
                    <label>คงเหลือ</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                      </div>
                      <input type="text" class="form-control" id="Remain" placeholder="จำนวนวันลา" [formControl]="Remain"
                        required>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-md-3 mb-3">
                    <label>แจ้งล่วงหน้า</label>
                    <input type="text" class="form-control" id="AdvanceNotice" placeholder="แจ้งล่วงหน้า"
                      [formControl]="AdvanceNotice" required>
                  </div>
                  <div class="col-md-3 mb-3">
                    <label for="validationDefault04">จำนวนครั้งที่ลา</label>
                    <input type="text" class="form-control" id="LOrdinal" placeholder="จำนวนครั้งที่ลา"
                      [formControl]="LOrdinal" required>
                  </div>
                  <div class="col-md-3 mb-3">
                    <label for="validationDefault05">สถานะสิทธิการลา</label>
                    <select id="QuotaStatus" class="form-control" [formControl]="QuotaStatus">
                      <option selected>สถานะสิทธิการลา</option>
                      <option value="1">ลาได้</option>
                      <option value="0">ลาไม่ได้</option>
                    </select>
                  </div>
                  <div class="col-md-3 mb-3">
                    <label for="validationDefault05">สถานะบุคลากร</label>
                    <select id="Empstatus_ID" class="form-control" [formControl]="Empstatus_ID">
                      <option selected>เลือกสถานะบุคลากร</option>
                      <option value="106">ราชการ</option>
                      <option value="105">พนักงานมหาวิทยาลัย</option>
                      <option value="104">ลูกจ้างเงินรายได้</option>
                    </select>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-danger" data-dismiss="modal">ปิด</button>
              <button type="button" class="btn btn-outline-primary" data-dismiss="modal" (click)="updateLeaveType1()" >บันทึก</button>
            </div>
          </div>
        </div>
      </div>