<div class="card-img-overlay">
        <div class="tab-pane fade show active">
          <br>
      
                                  <div class="container " align="center">
      
                                    <div class="card" >
                                      <div class="card-header">
                                        สมัครสมาชิก
                                      </div>
                                      <div class="card-body">
      
                                        <form>
                                          <div class="form-row text-left">
                                            <div class="col-md-4 mb-3">
                                              <label for="validationDefault01">รหัสบุคลากร</label>
                                              <input type="text" lang="13" class="form-control" [formControl]="Emp_ID"
                                                id="validationDefault01">
                                            </div>
                                            <div class="col-md-4 mb-3">
                                              <label for="validationDefault02">ชื่อ(ภาษาไทย)</label>
                                              <input type="text" class="form-control" [formControl]="EmpName"
                                                id="validationDefault02">
                                            </div>
                                            <div class="col-md-4 mb-3">
                                              <label for="validationDefaultUsername">นามสกุล(ภาษาไทย)</label>
      
                                              <input type="text" class="form-control" [formControl]="EmpLastName"
                                                id="validationDefaultUsername">
                                            </div>
                                            <div class="col-md-3 mb-3">
                                              <label for="validationDefault04">เพศ</label>
                                              <select class="form-control" [formControl]="Sex" id="exampleFormControlSelect1">
                                                <option selected></option>
                                                <option value="ชาย">ชาย</option>
                                                <option value="หญิง">หญิง</option>
      
                                              </select>
                                            </div>
                                            <div class="col-md-3 mb-3">
                                              <label for="validationDefault05">วันเกิด
                                                (เดือน/วัน/ปี)</label>
                                              <input type="date" class="form-control" [formControl]="Birthday"
                                                id="validationDefault05">
                                            </div>
                                            <div class="col-md-3 mb-3">
                                              <label for="validationDefault06">อายุ</label>
                                              <input type="text" class="form-control" [formControl]="Age"
                                                id="validationDefault06">
                                            </div>
                                            <div class="col-md-3 mb-3">
                                              <label for="validationDefault07">เบอร์โทร</label>
                                              <input type="text" class="form-control" [formControl]="Tel"
                                                id="validationDefault07">
                                            </div>
                                            <div class="col-md-8 mb-3">
                                              <label for="exampleFormControlTextarea1">ที่อยู่</label>
                                              <textarea class="form-control" [formControl]="Address"
                                                id="exampleFormControlTextarea1" rows="3"></textarea>
                                            </div>
      
                                          </div>
                                          <div class="card-header text-left">
                                            กำหนดรหัสผ่าน
                                          </div>
                                          <div align="left" class="row">
                                              <div class="col-md-3 mb-3 text-left" align="left">
                                                  <label for="Username">Username</label>
                                                  <input type="text" class="form-control" [formControl]="Username"
                                                    id="Username">
                                                </div>
                                                <div class="col-md-3 mb-3 text-left" align="left">
                                                    <label for="Passwork">Password</label>
                                                    <input type="text" class="form-control" [formControl]="Password"
                                                      id="Password">
                                                  </div>
                                          </div>
                                          <br>
                                         
                                          <div class="card-header text-left">
                                              ข้อมูล
                                            </div>
                                            <br>
                                          <div class="form-row text-left">
                                            <div class="col-md-3 mb-3">
                                              <label for="validationDefault08">วันเริ่มทำงาน</label>
                                              <input type="date" class="form-control" [formControl]="Work_day"
                                                id="validationDefault08">
                                            </div>
                                            <div class="col-md-3 mb-3">
                                              <label for="validationDefault09">อายุงาน</label>
                                              <input type="text" class="form-control" [formControl]="Duration_work"
                                                id="validationDefault09">
                                            </div>
                                            <div class="col-md-3 mb-3">
                                              <label for="validationDefault10">ตำแหน่ง</label>
                                              <select class="form-control" [formControl]="Position_ID"
                                                id="exampleFormControlSelect2">
                                                <option selected></option>
                                                <option value="2001">
                                                  ผู้อำนวยการสำนักวิทยบริการและเทคโนโลยีสารสนเทศ
                                                </option>
                                                <option value="2002">
                                                  รองผู้อำนวยการฝ่ายบริหารงานทั่วไป
                                                </option>
                                                <option value="2003">
                                                  รองผู้อำนวยการฝ่ายวิทยบริการ
                                                </option>
                                                <option value="2004">
                                                  หัวหน้าสำนักงานผู้อำนวยการ
                                                </option>
                                                <option value="2005">
                                                  หัวหน้างานบริหารงานทั่วไป
                                                </option>
                                                <option value="2006">
                                                  หัวหน้าแผนกงานธุรการสำนัก
                                                </option>
                                                <option value="2007">
                                                  เจ้าหน้าที่บริหารงาานทั่วไป
                                                </option>
                                                <option value="2008">
                                                  หัวหน้างานวิทยบริการ</option>
                                                <option value="2009">
                                                  หัวห้าแผนกงานห้องสมุด</option>
                                                <option value="2010">นักวิชาการศึกษา
                                                </option>
                                                <option value="2011">
                                                  นักเอกสารสารสนเทศ</option>
                                                <option value="2012">พนักงานธุรการ
                                                </option>
                                                <option value="2013">บรรณารักษ์
                                                </option>
                                                <option value="2014">
                                                  นักวิชาการคอมพิวเตอร์</option>
                                                <option value="2015">
                                                  หัวหน้าแผนกงานศูนย์การเรียนรู้ด้วยตนเอง
                                                </option>
                                                <option value="2016">
                                                  นักวิชาการคอมพิวเตอร์</option>
                                                <option value="2017">
                                                  ผู้ปฏิบัติงานบริหาร</option>
                                                <option value="2018">
                                                  หัวหน้าสำนักงานเทคโนโลยีสารสนเทศ
                                                </option>
                                                <option value="2019">
                                                  หัวหน้าแผนกงานเทคโนโลยีคอมพิวเตอร์
                                                </option>
                                              </select>
                                            </div>
      
                                            <div class="col-md-3 mb-3">
                                              <label for="validationDefault1">แผนก</label>
                                              <select class="form-control" [formControl]="Dept_ID"
                                                id="exampleFormControlSelect3">
                                                <option selected></option>
                                                <option value="1001">
                                                  แผนกงานธุรการสำนัก</option>
                                                <option value="1002">แผนกงานห้องสมุด
                                                </option>
                                                <option value="1003">
                                                  แผนกงานศุนย์การเรียนรู้ด้วยตนเอง
                                                </option>
                                              
                                                <option value="1004">
                                                  แผนกงานวิศวกรรมเครือข่าย
                                                </option>
                                                <option value="1005">
                                                  แผนกงานอีเลิร์นนิ่งและเทคโนโลยีการศึกษา
                                                </option>
                                                <option value="1006">
                                                  ระบบสารสนเทศเพื่อการบริหาร
                                                </option>
      
                                              </select>
                                            </div>
                                            <div class="col-md-3 mb-3">
                                              <label for="validationDefault12">สถานะบุคลากร</label>
                                              <select class="form-control" [formControl]="Empstatus_ID"
                                                id="exampleFormControlSelect4">
                                                <option selected></option>
                                                <option value="106">ราชการ</option>
                                                <option value="105">พนักงานมหาวิทยาลัย</option>
                                                <option value="104">ลูกจ้างเงินรายได้</option>
                                              </select>
                                            </div>
                                          </div>
                                          <div class="form-group">
                                            <div class="form-check">
                                              <input class="form-check-input" type="checkbox" value="" id="invalidCheck2">
                                              <label class="form-check-label" for="invalidCheck2">
                                                Agree to terms and conditions
                                              </label>
                                            </div>
                                          </div>
                                          <button class="btn btn-primary" (click)="AddEmployee()">บันทึก</button>
                                        </form>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
          
      